/* Copyright 2012 inDeLA Sagl. All Rights Reserved. */
*+html #breadcrumb2 span{float:right;}
*+html #n2s-albcontent .gdyf{background-color:#000000;}
*+html .brcrmb li{display:inline;}
*+html .brcrmb li.brcrm-u.img{vertical-align:middle;}