/* Copyright 2012 inDeLA Sagl. All Rights Reserved. */
#resultStats{color:#999999;font-size:13px;margin-bottom:20px;}
#idxCMain{width:540px;}
#idxCont li{margin-bottom:25px;}
#idxCont li h3{font-size:medium;margin:0 0 5px;}
#idxCont li h3 a .idxTp,#idxCont li h3 a .idxTp b{text-decoration:underline;}
#idxCont li:hover h3 a .idxTp,#idxCont li:hover h3 a .idxTp b{color:#cc0000 !important;}
#idxCont li .idxTpN{margin-right:5px;}
#idxCont li .idxSSm{display:inline-block;padding-left:21px;}
.idxSrcPgnt{font-weight:bold;text-transform:capitalize;}
.idxSrcPgnt a{border:1px solid #FFF0F0;font-weight:normal;margin-right:2px;padding:2px 8px;transition:none 0s ease 0s;}
.idxSrcPgnt a:hover{border:1px solid #D35454;background-color:#cc0000;color:#fff;}
.idxSrcPgnt #current_page{cursor:default;margin-right:2px;padding:2px 8px;}
#multiIDXSch{margin-bottom:10px;}
#multiIDXSch input{float:left;width:500px;}
#multiIDXSch #idxSearch{background:url("/images/sprite.png") no-repeat scroll 30px -629px #999999;display:block;float:left;height:27px;margin-left:7px;overflow:hidden;text-indent:-999px;width:100px;}
#multiIDXSch #idxSearch:hover{background-color:#cc0000;}